@import 'ambience/colors';
@import 'ambience/typography';
@import 'base/normalize';
@import 'base/unclassed';
@import 'components/logo';
@import 'components/menu';

.a-long-time-ago {
	font-weight: 700;
    color: white;
    width: 960px;
    margin: 2rem auto;
    text-align: justify;
}
