body {
  font-family: $font-family-sans-serif;
  background: -moz-linear-gradient(top,  rgba(0,0,51,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,51,1) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,51,1) 0%,rgba(0,0,0,1) 100%);
}
