$lightside-white: #fff;
$theforce-blue: #97cbff;
$darkside-purple: #1a1938;

$menu-bg-color: $darkside-purple;
$menu-item-color: $theforce-blue;
$menu-item-hover-color: $lightside-white;
$submenu-item-color: $lightside-white;
$submenu-header-color: $lightside-white;
$paragraph-color: $lightside-white;
