.menu {
	background-color: $menu-bg-color;
	text-align: center;
	font-size: 0;
}
.menu__item {
    display: inline-block;
    transition: all 0.25s ease-in-out;

    &:hover {
    	background-color: lighten($menu-bg-color, 5%);
    }
}
