.menu {
	background-color: $menu-bg-color;
	text-align: center;
	font-size: 0;
}

.menu__item {
    display: inline-block;
    transition: all 0.25s ease-in-out;

    &:hover {
    	background-color: lighten($menu-bg-color, 5%);
    }
}

.menu__link {
    display: inline-block;
    text-decoration: none;
    color: $menu-item-color;
    font-weight: 700;
    padding: 0.5rem 2.5rem;
    transition: all 0.25s ease-in-out;

    .menu__item:hover & {
    	color: $menu-item-hover-color;
    }
}

.menu__header {
	font-size: 1rem;
}

.submenu {
    position: absolute;
    left: 0;
    font-size: 0;
    width: 100%;
    padding: 0;
    padding-top: 0.75rem;
    background-color: lighten($menu-bg-color, 5%);
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.25s ease-in-out, visibility 0s 0.25s;

    .menu__item:hover & {
    	visibility: visible;
    	opacity: 1;
    	transition: opacity 0.25s ease-in-out, visibility 0s 0s;
    }
}

.submenu__group {
    display: inline-block;
    width: 25%;
    height: 100%;
    padding: 1rem 0;
    vertical-align: middle;

    &--featured {
    	@extend .submenu__group;
    	background-color: lighten($menu-bg-color, 15%);
    }
}

.submenu__item {
	display: block;
}	

